.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  padding: 10px;
  border: none;
  margin: 20px;
  background-color: rgb(var(--secondary-color));
  color: rgb(var(--background-end-rgb));
  font-size: medium;
  cursor: pointer;
  width: 100%;
}

.header{
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  font-family: var(--font-mono);
  padding: 2rem;
}

.header h1{
  color: rgb(var(--secondary-color));
  font-weight: normal;
  padding: 10px;
}

.header h4{
  color: rgb(var(--background-end-rgb));
  font-weight: normal;
  text-align: center;
  line-height: 26pt;
}

.rowSelect{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin: 20px;
}

.rowSelect h2{
  color: rgb(var(--background-end-rgb));
  font-weight: normal;
}

.listBtn{
  width: 30%;
  margin: 20px;
  text-align: center;
}

.listFiles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(var(--background-end-rgb));
  font-weight: normal;
  background-color: rgb(var(--foreground-rgb), .3);
  padding: 10px;
}

.extraBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer{
  color: rgb(var(--background-end-rgb));
  font-family: var(--font-mono);
  font-weight: normal;
}

